//COLORS
$DarkBlue_Element: hsl(209, 23%, 22%);
$VeryDarkBlue_Background: hsl(207, 26%, 17%);
$VeryDarkBlue_Text: hsl(200, 15%, 8%);
$DarkGray_Input: hsl(0, 0%, 52%);
$VeryLightGray_Background: hsl(0, 0%, 98%);
$White_Element: hsl(0, 0%, 100%);

//FONTS
$base-font: .75rem;
$font-sm: 1rem;
$font-md: $base-font * 2;
$font-smd: $base-font * 3;
$font-lg: $base-font * 4;
$font-xl: $base-font * 6;
$font-xxl: $base-font * 8;