@font-face {
  font-family: "Nunito Sans";
  src: url("../../public/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  transition: background 0.7s;
  scroll-behavior: smooth;
}

::placeholder {
  opacity: 1;
}

.windowContainer {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-flow: row Wrap;
  padding-top: 5rem;
}

.page {
  width: clamp(375px, 100vw, 1440px);
  min-height: 100%;
  padding: 0 1.5rem;
}

.navbar {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row Wrap;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 2;
}
.navbar .navbox {
  width: clamp(375px, 100vw, 1440px);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row Wrap;
}
.navbar .navbox h1 {
  font-weight: 800;
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.navbar .navbox h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-flow: row Wrap;
}
.navbar .navbox h2 .LDicon {
  width: 1.2rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.navbar .navbox h2 .LDtext {
  font-weight: 600;
  font-size: 0.9rem;
}

.primaryTemplate {
  position: relative;
}
.primaryTemplate .searchAndFilterContainer {
  width: clamp(375px, 100vw, 1440px);
  margin: auto;
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-flow: row Wrap;
  position: fixed;
  top: 4.9rem;
  left: 0;
  right: 0;
  z-index: 1;
}
.primaryTemplate .searchAndFilterContainer .searchSection {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 0.2rem;
  min-width: clamp(318px, 50vw, 500px);
  min-height: 3.5rem;
  position: relative;
}
.primaryTemplate .searchAndFilterContainer .searchSection label {
  position: absolute;
  inset: 1rem 2rem 1rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.primaryTemplate .searchAndFilterContainer .searchSection label .searchIcon {
  width: 100%;
  height: 100%;
}
.primaryTemplate .searchAndFilterContainer .searchSection input {
  cursor: pointer;
  width: 100%;
  position: absolute;
  padding: 1rem 0 1rem 5rem;
  inset: 0;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  font-size: 1rem;
  color: inherit;
}
.primaryTemplate .searchAndFilterContainer .filterSection {
  position: relative;
  border-radius: 0.2rem;
}
.primaryTemplate .searchAndFilterContainer .filterSection .upperTilePart {
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 1rem;
  position: relative;
  background-color: transparent;
  color: inherit;
  max-height: 3.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-flow: unset;
}
.primaryTemplate .searchAndFilterContainer .filterSection .upperTilePart .arrowHead {
  transform: rotate(90deg);
}
.primaryTemplate .searchAndFilterContainer .filterSection .lowerListPart {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 1rem;
  border-radius: 5px;
}
.primaryTemplate .searchAndFilterContainer .filterSection .lowerListPart button {
  color: inherit;
  font-weight: 300;
  font-size: 1rem;
}
.primaryTemplate .searchAndFilterContainer .filterSection .lowerListPart button:hover {
  color: hsl(0, 0%, 52%);
}
.primaryTemplate .cardBox {
  padding: 0 5px;
  margin-top: 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, max(22%, 18rem)));
  gap: 3rem;
  justify-content: center;
}
.primaryTemplate .cardBox .card {
  transition: transform 0.2s;
  cursor: pointer;
  height: 24rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 5px;
}
.primaryTemplate .cardBox .card:hover {
  transform: scale(1.02);
  z-index: 0;
}
.primaryTemplate .cardBox .card .countryFlagImgContainer {
  width: 100%;
  height: 45%;
}
.primaryTemplate .cardBox .card .countryFlagImgContainer .countryFlagImg {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}
.primaryTemplate .cardBox .card .countryInfo {
  height: 55%;
  border-radius: 0 0 5px 5px;
  padding: 1.3rem;
}
.primaryTemplate .cardBox .card .countryInfo h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.primaryTemplate .cardBox .card .countryInfo p {
  font-weight: 300;
  font-size: 1rem;
}
.primaryTemplate .cardBox .card .countryInfo p span {
  font-weight: 600;
  font-size: 1rem;
}
.primaryTemplate .autoScrollUp {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  opacity: 0.6;
}
.primaryTemplate .autoScrollUp:hover {
  opacity: 1;
}
.primaryTemplate .autoScrollUp img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transform: rotate(90deg);
}

.secondaryTemplate {
  padding: 3rem 0;
  color: #fff;
}
.secondaryTemplate .backBtn {
  min-width: 6rem;
  text-align: right;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-flow: row Wrap;
}
.secondaryTemplate .backBtn .arrowIcon {
  width: 1rem;
}
.secondaryTemplate .countryInfoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  gap: clamp(3rem, 7vw, 5rem);
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
}
.secondaryTemplate .countryInfoContainer .flagContainer {
  aspect-ratio: 2/1.5;
}
.secondaryTemplate .countryInfoContainer .flagContainer .flag {
  width: 100%;
  height: 100%;
}
.secondaryTemplate .countryInfoContainer .infoContainer .countryName {
  font-weight: 900;
  font-size: 1.5rem;
  color: inherit;
}
.secondaryTemplate .countryInfoContainer .infoContainer .otherInfo {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-flow: row Wrap;
  flex-flow: row wrap;
}
.secondaryTemplate .countryInfoContainer .infoContainer .otherInfo .col2 {
  align-self: flex-start;
}
.secondaryTemplate .countryInfoContainer .infoContainer .otherInfo .infoKey {
  font-weight: 600;
  font-size: 1rem;
  color: inherit;
}
.secondaryTemplate .countryInfoContainer .infoContainer .otherInfo .infoKey .infoValue {
  font-weight: 300;
  font-size: 1rem;
}
.secondaryTemplate .countryInfoContainer .infoContainer .boderCountryContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-flow: row Wrap;
}
.secondaryTemplate .countryInfoContainer .infoContainer .boderCountryContainer .boderCountryName {
  font-weight: 600;
  font-size: 1rem;
}
.secondaryTemplate .countryInfoContainer .infoContainer .boderCountryContainer .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-flow: row Wrap;
}

.checkBorder {
  border: 1px solid rgb(212, 252, 70) !important;
}

.disappear {
  display: none !important;
}

.lightModeV1 {
  background: hsl(0, 0%, 98%) !important;
  color: hsl(200, 15%, 8%) !important;
}

.lightModeV2 {
  background: hsl(0, 0%, 100%) !important;
  color: hsl(200, 15%, 8%) !important;
}

.lightModeV3 {
  background: hsl(0, 0%, 100%) !important;
  color: hsl(0, 0%, 52%) !important;
}

.darkModeV1 {
  background: hsl(207, 26%, 17%) !important;
  color: hsl(0, 0%, 100%);
}

.darkModeV2 {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.commonBtnStyle {
  border: none;
  border-radius: 3px;
  padding: 0.4rem 1.2rem;
  background-color: hsl(209, 23%, 22%);
  color: inherit;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  cursor: pointer;
}
.commonBtnStyle:hover {
  transform: scale(1.03);
}

.commonListBtnStyle {
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}