@use "../tooKit/all" as *;

.primaryTemplate {
  position: relative;

  .searchAndFilterContainer {
    width: clamp(375px, 100vw, 1440px);
    margin: auto;
    padding: 2rem 1.5rem;
    @include flexing(1rem, space-between);
    position: fixed;
    top: 4.9rem;
    left: 0;
    right: 0;
    z-index: 1;

    //SEARCHING SECTION
    .searchSection {
      @include boxShadow;
      border-radius: 0.2rem;
      min-width: clamp(318px, 50vw, 500px);
      min-height: 3.5rem;
      position: relative;

      label {
        position: absolute;
        inset: 1rem 2rem 1rem;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        .searchIcon {
          width: 100%;
          height: 100%;
        }
      }

      input {
        cursor: pointer;
        width: 100%;
        position: absolute;
        padding: 1rem 0 1rem 5rem;
        inset:  0;
        border: none;
        outline: none;
        background: transparent;
        @include fonting(600, 1rem);
        color: inherit;
      }
    }

    //FILTER SECTION
    .filterSection {
      position: relative;
      border-radius: 0.2rem;

      .upperTilePart {border-radius: 0.2rem;
        @include fonting(600, $font-sm);
        @include boxShadow;
        padding: 1rem;
        position: relative;
        background-color: transparent;
        color: inherit;
        max-height: 3.5rem;
        border: none;
        cursor: pointer;
        @include flexing(2rem, space-between, center, unset);

        .arrowHead{
          transform: rotate(90deg);
        }
      }

      .lowerListPart {
        @include boxShadow;
        position: absolute;
        top: calc(100% + 5px);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 1rem;
        border-radius: 5px;

        button {
          color: inherit;
          @include fonting(300, $font-sm);

          &:hover {
            color: $DarkGray_Input;
          }
        }
      }
    }
  }

  .cardBox {
    padding: 0 5px;
    margin-top: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, max(22%, 18rem)));;
    gap: 3rem;
    justify-content: center;
    

    .card {
      transition: transform .2s;

      &:hover{
        transform: scale(1.02);
        z-index: 0;
      }

      cursor: pointer;
      height: 24rem;
      display: flex;
      flex-direction: column;
      @include boxShadow;
      border-radius: 5px;

      .countryFlagImgContainer {
        width: 100%;
        height: 45%;

        .countryFlagImg {
          width: 100%;
          height: 100%;
          border-radius: 5px 5px 0 0;
        }
      }

      .countryInfo {
        height: 55%;
        border-radius: 0 0 5px 5px;
        padding: 1.3rem;

        h3 {
          @include fonting(600, $font-md);
          margin-bottom: 20px;
        }

        p {
          @include fonting(300, $font-sm);
          

          span {
            @include fonting(600, $font-sm);
          }
        }
      }
    }
  }

  .autoScrollUp{
    display: block;
    position: fixed;
    right: 10px;
    bottom: 45%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    @include boxShadow;
    opacity: .6;

    &:hover{
      opacity: 1;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      transform: rotate(90deg);
    }
  }
}
