@use "../tooKit/all" as *;

.primaryTemplate {
  .searchAndFilterContainer {
    padding: 2rem 0;
    @include flexing(1rem, space-between);

    //SEARCHING SECTION
    .searchSection {
      @include boxShadow;
      border-radius: 0.2rem;
      min-width: clamp(318px, 50vw, 500px);
      min-height: 3.5rem;
      position: relative;

      label {
        position: absolute;
        inset: 1rem 2rem 1rem;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        .searchIcon {
          width: 100%;
          height: 100%;
        }
      }

      input {
        cursor: pointer;
        width: 100%;
        position: absolute;
        padding: 1rem 0 1rem 5rem;
        inset:  0;
        border: none;
        outline: none;
        background: transparent;
        @include fonting(600, 1rem);
        color: inherit;
      }
    }

    //FILTER SECTION
    .filterSection {
      position: relative;
      border-radius: 0.2rem;

      .upperTilePart {border-radius: 0.2rem;
        @include fonting(600, $font-sm);
        @include boxShadow;
        padding: 1rem;
        position: relative;
        background-color: transparent;
        color: inherit;
        max-height: 3.5rem;
        border: none;
        cursor: pointer;
        @include flexing(2rem, space-between, center, unset);

        .arrowHead{
          transform: rotate(90deg);
        }
      }

      .lowerListPart {
        @include boxShadow;
        position: absolute;
        top: calc(100% + 5px);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 1rem;
        border-radius: 5px;

        button {
          color: inherit;
          @include fonting(300, $font-sm);

          &:hover {
            color: $DarkGray_Input;
          }
        }
      }
    }
  }

  .cardBox {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, max(22.4%, 18rem)));;
    gap: 3rem;
    justify-content: center;

    .card {
      cursor: pointer;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      @include boxShadow;
      border-radius: 5px;

      .countryFlagImgContainer {
        width: 100%;
        height: 45%;

        .countryFlagImg {
          width: 100%;
          height: 100%;
          border-radius: 5px 5px 0 0;
        }
      }

      .countryInfo {
        height: 55%;
        border-radius: 0 0 5px 5px;
        padding: 1.3rem;

        h3 {
          @include fonting(600, $font-md);
          margin: 20px 0;
        }

        p {
          @include fonting(300, $font-sm);
          

          span {
            @include fonting(600, $font-sm);
          }
        }
      }
    }
  }
}
